<section class="calculator-section">
    <div class="container">
        <div class="calculator">
            <div class="calculator-text-box">
                <h2 class="heading-secondary form">Cholesterol</h2>
            </div>
            <form #formDirective="ngForm" class="calculator-form grid-form"
                (ngSubmit)="calculateCOL(); formDirective.reset()">
                <div>
                    <label for="hdl">HDL</label>
                    <input id="hdl" type="number" name="hdl" [(ngModel)]="model.hdl" placeholder="55 mg/dL" required>
                </div>
                <div>
                    <label for="ldl">LDL</label>
                    <input id="ldl" type="number" name="ldl" [(ngModel)]="model.ldl" placeholder="175 mg/dL" required>
                </div>
                <div>
                    <label for="triglycerides">Triglycerides</label>
                    <input id="triglycerides" type="number" name="triglycerides" [(ngModel)]="model.triglycerides"
                        placeholder="55 mg/dL" required>
                </div>
                <button class="btn--form">Calculate</button>
            </form>
            <div class="calculator-result">
                <div class="result">
                    <p *ngIf="result">Result: {{result}}</p>
                </div>
            </div>
        </div>
    </div>
</section>