<section class="Statistics-section">
    <div class="container container--statistics">
        <span class="subheading subheading--statistics">Statistics</span>

        <h2 class="heading-secondary heading-secondary--statistics">Blood Pressure
        </h2>
        <p class="statistics-description">
            Blood pressure (BP) represents the pressure exerted by the column of blood on the vascular wall,
            especially on the inner endothelial layer during the rhythmic contraction and relaxation of the heart.
        </p>
        <div class="grid grid--chart">
            <app-chart-at></app-chart-at>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Triglyceride Level
        </h2>
        <p class="statistics-description">
            Triglycerides are lipids or fats that circulate in the blood and can be stored in tissues throughout the
            body. They are an important source of energy for the human body.
            Triglycerides are the most common form of fat in the body, found in vegetable oils and animal fats.
        </p>
        <div class="grid grid--chart">
            <app-chart-tri></app-chart-tri>
        </div>

        <h2 class="heading-secondary heading-secondary--statistics">Cholesterol Level
        </h2>
        <p class="statistics-description">
            Cholesterol is essential for the healthy functioning of the body, and we cannot live without it.
            Only when it exceeds certain values can health problems arise. For example, doctors say that elevated
            cholesterol is one of the main causes of cardiovascular diseases.
        </p>
        <div class="grid grid--chart">
            <app-chart-col></app-chart-col>
        </div>
    </div>
</section>