<section class="calculator-section">
    <div class="container">
        <div class="calculator">
            <div class="calculator-text-box">
                <h2 class="heading-secondary form">Arterial Tension</h2>
            </div>
            <form #form="ngForm" (ngSubmit)="calculateAT(); form.reset()" #formDirective="ngForm"
                class="calculator-form grid-form" action="#">
                <div>
                    <label for="sbp">Sistolic Blood Pressure</label>
                    <input id="sbp" type="number" name="sbp" [(ngModel)]="model.sbp" placeholder="55 mm/HG" required>
                </div>
                <div>
                    <label for="dbp">Diastolic Blood Pressure</label>
                    <input id="dbp" type="number" name="dbp" [(ngModel)]="model.dbp" placeholder="175 mm/HG" required>
                </div>
                <button class="btn--form">Calculate</button>
            </form>
            <div class="calculator-result">
                <div class="result">
                    <p *ngIf="result">Result: {{result}}</p>
                </div>
            </div>
        </div>
    </div>
</section>