<div class="home container">
    <section class="hero-section">
        <div class="home-container">
            <div class="hero-text-box">
                <h3 class="heading-tertiary heading-tertiary--hero">- We Provide</h3>
                <h1 class="heading-primary heading-primary--hero">The perfect app for your health</h1>
                <p class="hero-text">
                    Start now to improve your health
                </p>
                <a routerLink="/login" class="btn btn--home">Get started</a>
            </div>
        </div>
    </section>
</div>