<header [class.sticky]="sticky" [ngClass]="menuClass">
    <div class="nav container">
        <nav class="nav-bar">
            <div class="brand-name" routerLink="/">
                <span>FitMetrics</span>
                <span class="brand-name-hub">Hub</span>
            </div>
            <ul class="nav-bar-list">
                <li (click)="selectPage()"><a class="nav-bar-link" routerLink="/about"
                        routerLinkActive="active">About</a></li>
                <li *ngIf="accountService.currentUser$| async">
                    <div class="dropdown">
                        <button class="dropbtn">Calculator</button>
                        <div class="dropdown-content">
                            <a (click)="selectPage()" class="nav-bar-link" routerLink="/calculator-bmi"
                                routerLinkActive="active">Calculator BMI</a>
                            <a (click)="selectPage()" class="nav-bar-link" routerLink="/calculator-rmb"
                                routerLinkActive="active">Calculator RMB</a>
                            <a (click)="selectPage()" class="nav-bar-link" routerLink="/calculator-at"
                                routerLinkActive="active">Calculator AT</a>
                            <a (click)="selectPage()" class="nav-bar-link" routerLink="/calculator-tri"
                                routerLinkActive="active">Calculator Triglyceride</a>
                            <a (click)="selectPage()" class="nav-bar-link" routerLink="/calculator-col"
                                routerLinkActive="active">Calculator Cholesterol</a>
                        </div>
                    </div>
                </li>
                <li *ngIf="accountService.currentUser$| async" (click)="selectPage()"><a class="nav-bar-link"
                        routerLink="/myAccount" routerLinkActive="active">My Account</a></li>
                <li *ngIf="accountService.currentUser$| async" (click)="selectPage()"><a class="nav-bar-link"
                        routerLink="/statistics" routerLinkActive="active">Statistics</a></li>
                <li *ngIf="!(accountService.currentUser$| async)" (click)="selectPage()"><a class="nav-bar-link"
                        routerLink="/login" routerLinkActive="active">Login</a></li>
                <li *ngIf="!(accountService.currentUser$| async)" (click)="selectPage()"><a class="nav-bar-link"
                        routerLink="/register" routerLinkActive="active">Register</a></li>
                <li *ngIf="accountService.currentUser$| async" (click)="selectPage()"><a class="btns btn--nav"
                        (click)="logout()" routerLink="/login">Logout</a>
                </li>
            </ul>
            <button class="btn-mobile-nav" (click)="toggleMenu()">
                <div *ngIf="!isMenuOpen" class="icon"><mat-icon class="menu-icon">menu</mat-icon></div>
                <div *ngIf="isMenuOpen" class="icon"><mat-icon class="close-icon">close</mat-icon></div>
            </button>

        </nav>
    </div>
</header>