<section class="about-section">
    <div class="container">
        <span class="subheading">Learn more</span>
        <h2 class="heading-secondary">Learn about metabolism</h2>
    </div>

    <!-- STEP 01 -->
    <div class="container grid grid--2cols grid--center-v">
        <div class="text-step-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">
                What is metabolism?
            </h3>
            <p class="description-step">
                Metabolism is a sum of chemical reactions that occur in the body, aiming to transform food into energy
                needed for cellular processes, convert food into "raw materials" for proteins, lipids, and more, and
                eliminate waste. Individuals with a fast metabolism use calories much faster than those with a slower
                metabolism. A great way to accelerate your metabolism is through regular exercise.
            </p>
        </div>
        <div class="step-img-box">
            <img src="assets/img/step-img-1.jpg" class="img-step" alt="food image" />
        </div>

        <!-- STEP 02 -->

        <div class="text-step-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">
                How does metabolism work?
            </h3>
            <p class="description-step">
                Every time you eat, enzymes in the body's cells work together to transform food into energy that
                sustains the body's functions. Metabolism is like an engine of chemical reactions that keep the human
                body alive. However, the speed at which this engine operates varies from person to person.
            </p>
        </div>
        <div class="img-step-box">
            <img src="assets/img/step-img-2.jpg" class="img-step" alt="food image" />
        </div>

        <!-- STEP 03 -->

        <div class="text-step-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">
                What is metabolic rate?
            </h3>
            <p class="description-step">
                Metabolic rate is the amount of chemical energy released by the body during an activity. This energy is
                measured in calories. Most often, kilocalories (kcal) are used to measure energy. Metabolic rate can be
                influenced by various factors such as diet, hormonal status, physical activity, or certain health
                issues.
            </p>
        </div>
        <div class="img-step-box">
            <img src="assets/img/step-img-3.jpg" class="img-step" alt="food image" />
        </div>
    </div>
</section>