<div class="userprofile-container">
    <div class="flex-container">
        <div class="results-container">
            <div class="card">
                <h2>Arterial Tension: {{lastUserATCategory}}</h2>
            </div>
            <div class="card">
                <h2>Triglycerides: {{lastUserTRCategory}}</h2>
            </div>
            <div class="card">
                <h2>Cholesterol: {{lastUserCOLCategory}}</h2>
            </div>
        </div>
        <div class="options">
            <p class="options-p">Choose Stats:</p>
            <select id="tableOption" class="tableOption" [(ngModel)]="selectedComponent">
                <option value="BMI">Body Index Mass</option>
                <option value="RMB">Base Metabolic Rate</option>
            </select>
        </div>
        <div class="chart-box">
            <app-chart-rmb *ngIf="selectedComponent === 'RMB'"></app-chart-rmb>
            <app-chart-bmi *ngIf="selectedComponent === 'BMI'"></app-chart-bmi>
        </div>
    </div>
</div>