.userprofile-container {
    display: flex;
    text-align: center;
    background-image: url(/assets/img/userprofile2.jpg);
    background-size: cover;
    height: 90vh;
}

.flex-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.options-p {
    font-size: 2rem;
    color: #fff;
}

.results-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableOption {
    cursor: pointer;
    padding: 4px 2rem;
    font-size: 1.6rem;
    color: #FFF;
    background-color: #222;
    border-radius: 5px;
    transition: all 0.3s;
}

.tableOption:hover {
    background-color: #000;
}

option {
    cursor: pointer;
    background-color: #000;
}

option:hover {
    background-color: #2cd929;
}

.chart-box {
    width: 100%;
}

/* -------CARDS------------- */

.card {
    width: 220px;
    height: 80px;
    background: #4b6444;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
}

.card h2 {
    z-index: 1;
    color: white;
    font-size: 1.6rem;
}

.card::before {
    content: '';
    position: absolute;
    width: 120px;
    background-image: linear-gradient(180deg, #2cd929, #edf906);
    height: 250%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #161313;
    inset: 5px;
    border-radius: 15px;
}

@media(max-width: 700px) {
    .card {
        width: 120px;
        height: 60px;
        gap: 1rem;
    }

    .card h2 {
        font-size: 1.2rem;
    }
}